<form class="new-list" action="" method="post">
  <label>
    Title
    <input type="text" name="list[title]">
  </label>
  <input type="submit" value="Create List">
</form>
<a href="<%= '#/boards/' + board.attributes.id %>">Cancel</a>
